body {
    width: 100vw;
    background-color: black;
    color: rgb(247, 141, 182);
    font-size: 48px;
    font-family:sans-serif;
}

h1{ font-family: 'Staatliches', cursive; 
}


div {
    width: 60%;
    margin: 0 auto;
    text-align: center; 
}
  
.middleboiiii {
    transition: color 2s ease-out 100ms;
}
.middleboiiii:hover {
    color: #000;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
}

.home {
    background-color: rgb(243, 109, 221);
    color: rgb(116, 45, 104);
}

a:hover {
    background-color: rgb(255, 190, 241);
    color: rgb(248, 47, 205);
}

.previous {
    background-color: rgb(243, 109, 221);
    color: rgb(116, 45, 104);
}

.next {
    background-color: rgb(243, 109, 221);
    color: rgb(116, 45, 104);
}
