body {
    width: 100vw;
    background-color: black;
    color: rgb(166, 166, 202);
    font-size: 48px;
}

div {
    width: 60%;
    margin: 0 auto;
    text-align: center; 
}
  
.middleboiiii {
    transition: color 2s ease-out 100ms;
}
.middleboiiii:hover {
    color: #000;
  }